.k_textcolor{
    color:#ccc;
}
.k_footertext{
    color:#777;
}
.k_boxshadow:focus{
    border:none;
    border-radius: 2px !important;
    outline: 1px solid #000;
}
input{
    box-shadow: none!important;
}
.k_textsize{
    font-size: 0.7em;
}
@media only screen and (min-width: 0px) and (max-width: 576px) {
    .container, .container-fluid, .container-xs, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl{
        width: 100% !important;
    }
    .k_mediaquery{
        padding: 0px !important;
    }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .k_mediaquery{
        width: 50% !important;
    }
}
@media only screen and (min-width: 769px) {
    .k_mediaquery{
        width: 30% !important;
    }
}