
@media only screen and (min-width: 0px) and (max-width: 576px) {
    .container, .container-fluid, .container-xs, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl{
        width: 100% !important;
    }
    .k_mediaquery{
        padding: 0px !important;
    }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .k_mediaquery{
        width: 60% !important;
    }
}
@media only screen and (min-width: 769px) {
    .k_mediaquery{
        width: 30% !important;
    }
}