
@media only screen and (min-width: 0px) and (max-width: 768px) {
    .container, .container-fluid, .container-xs, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl{
        display:none !important;
    }
    .k_mediaquery{
        padding: 0px !important;
    }
    body{
        width: 100%;
        margin: 0px !important;
    }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .k_mediaquery{
        width: 60% !important;
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .k_mediaquery{
        width: 45% !important;
    }
    body{
        width: 100%;
        margin: 0px !important;
    }
}
@media only screen and (min-width: 993px) {
    .k_mediaquery{
        width: 30% !important;
    }
}